<nav>
  <h1>Hola</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/andres.jpg" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>Soy <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Me llamo Andrés Rodríguez tengo 25 años y soy estudiante de primer semestre de la carrera
    de Ingeniería de Software de la Universidad de Guayaquil.</p>
    <p>Mi objetivo es convertirme en un gran ingeniero de software y como tal busco diseñar programas 
      capaces de controlar las actividades realizadas dentro de una empresa y su relación con las demás.</p>
  
  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
